@import "config";
@import "utility";

a {
    text-decoration: none;
    color: $dark-color;
}

a:hover {
    color: lighten($dark-color, 20%);
}

body {
    color: $dark-color;
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    line-height: 1.5rem;
}

h1 {
    font-size: 3.25em;
    line-height: 3.75rem;
    font-weight: bold;
}
h2 {
    font-size: 2em;
    line-height: 3rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5em;
    line-height: 2rem;
    font-weight: bold;
}
h4 {
    font-size: 1.25em;
    line-height: 1.5rem;
    font-weight: bold;
}
h5 {
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: bold;
}
h6 {
    color: $secondary-color;
}
.label {
    font-size: 1.125em;
    line-height: 1.5rem;
    font-weight: bold;
}
.smaller-text {
    font-size: 0.875em;
    line-height: 1rem;
}
.the-smallest-text {
    font-size: 0.75em;
    line-height: 0.875rem;
}

.primary-color {
    color: $primary-color;
}
.secondary-color {
    color: $secondary-color;
}
